@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&display=swap');

:root {
  --dark-grey: #111827;
  --bg: #f8f9fa;
  --text: #0f172a;
  --grey: #d4d4d4;
  --primary: #3b82f6;
  --primary-dark: #2f68c5;
  --text-error: #b91c1c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

/* HELPER CLASSES */
.p-2 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

/* MAIN STYLES */
body {
  background-color: var(--dark-grey);
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav-header {
  background-color: var(--primary);
  align-self: stretch;
  font-size: 1.6rem;
}

.nav-header-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: #fff;
}

.active {
  color: var(--dark-grey) !important;
  font-weight: 600;
}

/* CONTAINER STYLES */

.container {
  background-color: var(--bg);
  border-radius: 5px;
  padding: 3rem;
}

.container-header {
  text-align: center;
}

.container-header h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5.2rem;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 1rem;
}
.form-control {
  border: 1px solid var(--grey);
  padding: 1rem;
  border-radius: 5px;
}

.form-control:focus {
  outline-color: var(--primary-dark);
}

.form-control.border-danger {
  border-color: var(--text-error);
}
.form-text {
  font-size: 1.3rem;
  margin-top: 0.4rem;
  color: var(--text-error);
}

.hidden {
  display: none;
}

.btn-container {
  text-align: center;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: var(--bg);
  align-self: center;
  cursor: pointer;

  transition: background-color 0.2s;
}
.btn:hover {
  background-color: var(--primary-dark);
}

#output,
#formula-dislay {
  background-color: #fff;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey);
  border-radius: 5px;
}

#formula-dislay {
  font-weight: 600;
  font-size: 1.2rem;
}
