@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --bg: #fff;
  --dark: #212529;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
}

.active {
  color: var(--dark) !important;
  font-weight: 600;
}

.hidden {
  display: none;
}

#output {
  background-color: #fff;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
